@import '~antd/dist/antd.css';


.navbar {
    padding: 20px;
    background-color: #24292e;
    color: #fff;
    font-size: x-large;
}

.searchbar {
    display: flex;
    justify-content: center;
}

.footer {
    padding: 20px;
    background-color: #24292e;
    color: #fff;    
    font-size: large;
}