@import '~antd/dist/antd.css';


.searchbar {
    display: flex;
    justify-content: center;
}

.navbar {
    padding: 20px;
    background-color: #24292e;
    color: #fff;
    font-size: x-large;
}
